.comments__container{
    max-width: 100%;
    margin: 72px auto 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:740px){
    .comments__container{
        max-width: 100%;
        margin: 40px auto 0;
        flex-direction: column;
    }
}

@media screen and (min-width: 741px) and (max-width:948px){
    .comments__container{
        flex-direction: column;      
    }
}